@import './dark/index.css';
@import './light/index.css';

@import './dark/code.css';
@import './light/code.css';

@import './Fira_Mono/font.css';

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1A1A1A;
    }

    #app-header {
        background: rgba(28, 28, 28, 0.24);
        -webkit-backdrop-filter: blur(300px);
        backdrop-filter: blur(300px);
        position: fixed;
        width: 100%;
        z-index: 1919;
    }

    .oj-footer {
        color: #ffffff;
        height: 30px;
        text-align: center;
    }

    .el-menu.el-menu--horizontal {
        border-bottom: unset;
    }

    .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
    .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover {
        background-color: #363636
    }

    .el-menu--horizontal>.el-submenu .el-submenu__title:not(.is-disabled):focus,
    .el-menu--horizontal>.el-submenu .el-submenu__title:not(.is-disabled):hover {
        background-color: #363636
    }

    .el-date-range-picker__time-header {
        border-bottom: 1px solid #474747;
    }

    .el-date-editor .el-range-input {
        background-color: #262626;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #F7F8FA;
    }

    #app-header {
        background: rgba(255, 255, 255, 0.24);
        -webkit-backdrop-filter: blur(300px);
        backdrop-filter: blur(300px);
        position: fixed;
        width: 100%;
        z-index: 1919;
    }

    .oj-footer {
        color: #262626;
        height: 30px;
        text-align: center;
    }

    .el-menu.el-menu--horizontal {
        border-bottom: unset;
    }

    .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
    .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover {
        background-color: #ffffff
    }

    .el-menu--horizontal>.el-submenu .el-submenu__title:not(.is-disabled):focus,
    .el-menu--horizontal>.el-submenu .el-submenu__title:not(.is-disabled):hover {
        background-color: #ffffff
    }
}

.markdown-body {
    background-color: unset;
}

#app {
    font-family: Helvetica, sans-serif;
}

.ui.main-container {
    width: 933px;
    margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
    .ui.main-container {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (min-width: 1500px) {
    .ui.main-container {
        width: 1512px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .ui.main-container {
        width: auto !important;
        margin-left: 1em !important;
        margin-right: 1em !important
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.main-container {
        width: 723px;
        margin-left: auto !important;
        margin-right: auto !important
    }
}


a {
    text-decoration: none;
}

#app-container {
    padding-top: 82px;
}

.is-visible {
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.is-fixed {
    position: fixed;
    top: -60px;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

#app-header {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

#app-menu {
    background: rgba(0, 0, 0, 0);
    width: 100%;
}

.el-menu--horizontal>.el-menu-item {
    border-bottom: unset;
}